.App {
  text-align: center;
  position: relative;
}

.application {
 position: relative;
}

.page-content {
  position: relative;
}

.bottom-navbar {
  position: fixed;
  bottom: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background: #e5e5e5;
  --color-primary: #086788; /* The primary fill color. */
  --color-primary-contrast: #f1f2eb; /* Use when you want to contrast something surrounded by the primary color, like text. */
  --color-secondary: #07a0c3; /* The secondary fill color. */
  --text-primary: #000000; /* Primary text color. */
  --text-secondary: #838383; /* Used to outline primary things, such as prominant icons or text. */
  --text-tertiary: #c4c4c4; /* Used to outline secondary things. Don't think I've used this one yet. */
}