# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  install-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install npm dependencies
      run: |
        npm install
        npm audit fix


  build-and-test:
    needs: install-and-tes

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install npm dependencies
      run: |
        npm install
        npm audit fix
    - name: Build
      run: |
        npm run build
      - name: Test
      run: |
        npm run test
    
