# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  install:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install npm dependencies
      run: |
        npm install
        npm audit fix


  build:
    needs: install

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install npm dependencies
      run: |
        npm install
        npm audit fix
    - name: Build
      run: |
        npm run build

  test:
    needs: build

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install npm dependencies
      run: |
        npm install
        npm audit fix
    - name: Test
      run: |
        npm run test
    
